/*css domtab*/
div.domtab{
    padding:0;
    width:100%;
    font-size:90%;
    position:relative;
}
ul.domtabs{
    width:100%;
    margin:0;
    float:right;
    position: absolute;
    bottom:2px;
    right:1%;
    clear:both;
    z-index: 1;
}
ul.domtabs li{
    float:right;
    padding:0 .1em 0 0;
}
ul.domtabs a:link,
ul.domtabs a:visited,
ul.domtabs a:active,
ul.domtabs a:hover{
    padding:5px 5px;
    display:block;
    background:#666;
    color:#ccc;
    font-weight:bold;
    text-decoration:none;
}
html>body ul.domtabs a:link,
html>body ul.domtabs a:visited,
html>body ul.domtabs a:active,
html>body ul.domtabs a:hover{
    height:auto;
    min-height:2em;
    width:70px;
}
ul.domtabs a:hover{
    background:#96a94b;
}
div.domtab div{
    clear:both;
    width:auto;
    background:#f7f7f7;
    color:#fff;
    padding:0;
}
ul.domtabs li.active a:link,
ul.domtabs li.active a:visited,
ul.domtabs li.active a:active,
ul.domtabs li.active a:hover{
    background:#96a94b;
    color:#fff;
}
#domtabprintview{
    float:right;
    padding-right:1em;
    text-align:right;
}
#domtabprintview a:link,
#domtabprintview a:visited,
#domtabprintview a:active,
#domtabprintview a:hover{
    color:#fff;
}

div.domtab div a:link,
div.domtab div a:visited,
div.domtab div a:active
{
    color:#fff;
    display:block;
    padding:1em .5em;
    font-weight:bold;
    font-size:1.3em;
}
		